<!DOCTYPE html>
<html>
<head>
	<title>deleter</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		body {
			font-family: sans-serif;
			padding-bottom: 150px;
		}

		body.noScroll {
			position: fixed;
		}

		.img {width: 200px; height: 200px; overflow: hidden; margin: 1px; position: relative;}

		.img img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.fullScreen .img img {
			object-fit: contain;
		}

		.in-trash img {
			filter: grayscale(100%);
		}

		.actions {
			width: 200px;
			font-size: 0;
		}

		.actions a {
			display: inline-block;
			overflow: hidden;
			font-size: 14px;
			padding: 5px;
			box-sizing: border-box;
			color: #fff;
			text-decoration: none;
			text-align: center;
		}

		.preview {
			width: 130px;
			background: blue;
		}

		.trash {
			width: 70px;
			background: red;
		}

		#actionFrame {
			position: fixed;
			bottom: 0;
			right: 0;
			width: 100px;
			height: 35px;
			background: purple;
			z-index: 3;
		}

		.single.fullScreen .elWrapper {
			position: fixed;
			z-index: 2;
			top: 0; right: 0; bottom: 0; left: 0;
			background: #fff;
			overflow: scroll;
		}

		.single.fullScreen .img {
			width: 100%;
			height: calc(100%);
		}

		.single.fullScreen .actions {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.time {
			font-size: 14px;
			color: #333;
			padding: 5px 0;
		}

		.rotate {
			font-size: 20px;
			padding: 5px;
		}

		.r90 img {
  			transform: rotate(90deg);
		}

		.r180 img {
			transform: rotate(180deg);
		}

		.r270 img {
			transform: rotate(270deg);
		}

		.linkNext {
			display: inline-block;
			font-size: 20px;
			width: 200px;
			background: blue;
			color: #fff;
			text-decoration: none;
			text-align: center;
			padding: 10px;
			margin: 0 0 0 5px;
		}

		.linkBack {
			display: inline-block;
			font-size: 14px;
			width: 120px;
			background: #ddd;
			color: #333;
			text-decoration: none;
			text-align: center;
			padding: 5px;
			margin: 0 0 0 5px;
		}
	</style>

	<script src="https://cdn.jsdelivr.net/npm/lozad"></script>

</head>
<body>

	<table>
		<% for(var i=0; i<groups.length; i++) {%>
		   <tr>
		   	<!--
		   	<td>
		   		<button class="rotate">🔄</button>
		   	</td>
		   -->
	   			<td>
		   			<table style="margin-bottom: 25px;">
		   				<tr>
							<% for(var j=0; j<groups[i].length; j++) {%>
							   	<td class="single">
							   		<div class="elWrapper">

								   		<div class="time">
								   			<%= new Date(groups[i][j].time * 1000).toLocaleString(); %>
										</div>

								   		<div class="img">
								   			<a class="preview" target="_blank" href="/preview?file=<%= groups[i][j].path %>">
								   				<img class="thumb lozad" data-src="/thumb?file=<%= groups[i][j].path %>">
								   			</a>
								   		</div>

								   		<div class="actions">
									   		<a class="preview" target="_blank" href="/preview?file=<%= groups[i][j].path %>">
									   			podglad
									   		</a>
									   		<a class="trash" target="frame" href="/trash?file=<%= groups[i][j].path %>">
										   		kosz
										   	</a>
									   	</div>
								   	</div>
							   	</td>
							<% } %>
		   				</tr>
		   			</table>
				</td>
		   	</tr>
		<% } %>
	</table>

	<a href="?page=<%=+page + 1%>" class="linkNext">GO TO PAGE <%=+page + 1%></a><br><br><br>
	
	<% if (page > 1) { %>
		<a href="?page=<%=+page - 1%>" class="linkBack">back to page <%=+page - 1%></a>
	<% } %>

	<iframe id="actionFrame" name="frame"></iframe>

	<script>
		const observer = lozad(); // lazy loads elements with default selector as ".lozad"
		observer.observe();
	</script>

	<script type="text/javascript">

		function nextSibling(node, tag) {
		    tag = (tag + "").toUpperCase();
		    while (node && (node = node.nextSibling) && node.nodeName !== tag);
		    return node;
		}

		function previewFromThumb() {
			const activeThumb = activePreview.querySelector('.thumb');
			const src = activePreview.querySelector('.thumb').getAttribute('src');
			activeThumb.setAttribute('src', src.replace('/thumb', '/preview'));
		}

		let activePreview = null;

		document.body.addEventListener('keydown', (e) => {

			if (e.code === "ArrowLeft" || e.code === "ArrowRight") {
				e.preventDefault();

				if (e.code === "ArrowLeft") {
					if (activePreview && activePreview.previousElementSibling) {
						activePreview.classList.remove('fullScreen');
						activePreview = activePreview.previousElementSibling;
					}
				} else if (e.code === "ArrowRight") {
					if (activePreview && activePreview.nextElementSibling) {
						activePreview.classList.remove('fullScreen');
						activePreview = activePreview.nextElementSibling;
					}
				}

				activePreview.classList.add('fullScreen');
				previewFromThumb();

			} else if (e.code === "Escape") {
				if (activePreview !== null) {
					activePreview.classList.remove('fullScreen');
					const src = activePreview.querySelector('.thumb').getAttribute('src');
					activePreview.querySelector('.thumb').setAttribute('src', src.replace('/preview', '/thumb'));
					activePreview = null;
				}
			} else if (e.code === "KeyD") {
				if (activePreview !== null) {
					activePreview.querySelector('.trash').click();
				}
			}
		})

		function preview(el) {
			activePreview = el;
			el.classList.add('fullScreen');
			previewFromThumb();
		}

		document.querySelectorAll('.preview').forEach((tl) => {
			tl.addEventListener('click', (e) => {
				e.preventDefault();
				preview(tl.closest('.single'))
			})
		})

		document.querySelectorAll('.trash').forEach((tl) => {
			tl.addEventListener('click', () => {
				tl.parentNode.parentNode.classList.add('in-trash');
			})
		})

		document.querySelectorAll('.rotate').forEach((rb) => {
			rb.addEventListener('click', () => {
				const table = rb.closest('table');
				if (table.classList.contains('r90')) {
					table.classList.remove('r90')
					table.classList.add('r180')
				} else if (table.classList.contains('r180')) {
					table.classList.remove('r180')
					table.classList.add('r270')
				} else if (table.classList.contains('r270')) {
					table.classList.remove('r270')
				} else {
					table.classList.add('r90')
				}
			})
		})
	</script>

</body>
</html>